{
  "ignorePatterns": ["dist/", "public/"],
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "strict":0,
    "no-unused-vars": 0,
    "no-console": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-debugger": 0, 
    "semi": 0,
    "indent": "off",
    "react/jsx-indent": "off",
    "react/jsx-indent-props": "off",
    "comma-dangle": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-no-comment-textnodes": 0,
    "react/prop-types": 0
  }
}
